<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
</html>

<body>
  <!--https://www.w3schools.com/howto/howto_js_copy_clipboard.asp-->
  <!--https://stackoverflow.com/questions/47931843/javascript-copy-to-clipboard-not-working-->
  <script>
    function copyPwd() {
      var element = document.getElementById("generated_pwd");
      var textElement = element.textContent;
      navigator.clipboard.writeText(textElement);
    }
  </script>

  <div class="container">
    <div class="jumbotron p-3">
      <h1>New password</h1>
      <p class="lead" id="generated_pwd">{{pwd}}</p>
      <form action="{{ url_for('generate_password') }}" method="post">
        <div class="form-group">
          <label for="pwd_len">Select password length [15,20]</label>
          <input
            type="number"
            class="form-control"
            id="pwd_len"
            name="pwd_len"
            value="{{pwd_len}}"
            min="15"
            max="20"
            style="width: 200px"
          />
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            id="is_readable"
            name="is_readable"
            value="True"
            checked
          />
          <label for="is_readable">Generate a readable password</label><br />
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-primary"
            value="Regenerate!"
            id="regenerate"
          />
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>
      <button onclick="copyPwd()" class="btn btn-success" id="copy_pwd">
        Copy to clipboard
      </button>
    </div>
  </div>
</body>
